<% @post.errors.full_messages.each do |message| %>
    <%= message %>
<% end %>
<div class="newes_form">
    <%= form_tag("/posts/es/update/#{current_user.public_uid}/#{@post.company_id}/#{@post.id}") do %>
        <div class="mb-3">
            <label class="form-label"><h2>ESテーマ</h2></label>
            <input name="name" type="text" class="form-control" value="<%= @post.name %>">
        </div>
        <hr>
        <label class="form-label"><h2>提出期限</h2></label>
        <br>
        <select name="year_deadline" id="id_year"><%= @post.year_deadline %></select>年
        <select name="month_deadline" id="id_month"><%= @post.month_deadline %></select>月
        <select name="day_deadline" id="id_day"><%= @post.day_deadline %></select>日まで
        <script>
        (function() {
        'use strict';

        /* https://its-office.jp/blog/js/2016/03/08/ymd-html.htmlを参考 */

        var optionLoop, this_day, this_month, this_year, today;
        today = new Date();
        this_year = today.getFullYear();
        this_month = today.getMonth() + 1;
        this_day = today.getDate();

        optionLoop = function(start, end, id, this_day) {
            var i, opt;

            opt = null;
            for (i = start; i <= end ; i++) {
            if (i === this_day) {
                opt += "<option value='" + i + "' selected>" + i + "</option>";
            } else {
                opt += "<option value='" + i + "'>" + i + "</option>";
            }
            }
            return document.getElementById(id).innerHTML = opt;
        };

        optionLoop(this_year, this_year+3, 'id_year', this_year);
        optionLoop(1, 12, 'id_month', this_month);
        optionLoop(1, 31, 'id_day', this_day);
        })();

        </script>
        <hr>
        <div class="mb-3">
            <label class="form-label"><h2>内容</h2></label>
            <br>
            <textarea name="content" type="text" class="form-control"><%= @post.content %></textarea>
        </div>
        <hr>
        <div class="mb-3">
            <label class="form-label"><h2>パスワード</h2></label>
            <p>※ESを添削してもらう際にあなたのESにアクセスするためのパスワードです</p>
            <input name="password" type="text" class="form-control" value="<%= @post.password %>">
        </div>
        <button type="submit" class="btn btn-outline-warning btn-lg">送信</button>
    <% end %>
</div>